.search-results.show {
	right: 0;
	padding: 3rem 1rem 8rem;
}

.search-result-songs {
	margin-top: 4rem;
}

.artist-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.artist-cover {
	border-radius: 50px;
}

.artist-name {
	margin-bottom: 0.5rem;
}

.small-right-arrow {
	width: 1rem;
}
