.login-page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login-page img {
	width: 80%;
	margin-bottom: 6rem;
}

.login-page a {
	color: #fff;
	background-color: #1ed760;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding: 1.8rem;
	border-radius: 99px;
	text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
	.login-page {
		position: relative;
		margin-left: -15vw;
	}

	.login-page img {
		width: 50%;
	}

	.login-page a {
		font-size: 3rem;
		padding: 2rem;
	}
}
