.home-page {
	padding: 3rem 1rem 10rem;

	height: 100vh;

	/* position: relative; */
	overflow-x: hidden;
	overflow-y: scroll;
	background-repeat: no-repeat;
}

.home-page.show-playbar {
	padding: 3rem 1rem 14rem;
}

.home-page h1 {
	font-size: 2.5rem;
}

.greeting {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.clock {
	width: 3rem;
}

.top-items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	margin-bottom: 3rem;
}

.top-item-container {
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.281);
	border-radius: 5px;
	gap: 0.6rem;
}

.top-item-container img {
	width: 4.5rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

@media screen and (min-width: 1000px) {
	.home-page {
	}

	.home-page h1 {
		font-size: 3rem;
	}

	.top-items {
		font-size: 1.8rem;
	}

	.top-item-container img {
		width: 5.5rem;
	}

	.top-items {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.clock {
		width: 4rem;
	}
}
