.artist-page {
	padding-bottom: 10rem;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background-repeat: no-repeat;
}

.artist-page.show-playbar {
	padding: 0rem 0rem 13rem;
}

.artist-heading {
	font-size: 5rem;
	padding-left: 1rem;
}

.top-artist-songs-container {
	margin-top: 2rem;
	padding: 0 1rem;
}

.top-artist-songs-container h2 {
	margin-bottom: 0.5rem;
	font-size: 3rem;
}

.flex-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.image-heading {
	height: 30rem;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-end;
}

.artist-back-btn {
	background-color: rgba(0, 0, 0, 0.477);
	height: 4rem;
	width: 4rem;
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.artist-albums-container,
.artist-singles-container {
	margin-top: 2.5rem;
}

.artist-left-arrow {
	width: 3rem;
}

@media screen and (min-width: 500px) {
	.image-heading {
		height: 40rem;
	}
}

@media screen and (min-width: 600px) {
	.image-heading {
		height: 50rem;
	}
}

@media screen and (min-width: 1000px) {
	.top-artist-songs-container {
		padding: 0 8rem;
	}

	.top-artist-songs-container h2 {
		margin-bottom: 1.5rem;
		font-size: 3.5rem;
	}

	.artist-back-btn {
		left: 20vw;
		height: 5rem;
		width: 5rem;
	}

	.artist-heading {
		font-size: 8rem;
		padding-left: 8rem;
	}
}
