.search-page {
	padding: 3rem 1rem 7rem;
	overflow: scroll;
	height: 100vh;
}

.search-page h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.search-page h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.search-container {
	position: relative;
	margin-bottom: 4rem;
}

.search-page input {
	width: 100%;
	padding: 1rem;
	border-radius: 5px;
	border: none;
	font-size: 1.6rem;
}

.search-page input::placeholder {
	font-size: 1.6rem;
}

.search-btn {
	position: absolute;
	right: 0;
	height: 100%;
	padding: 0 1rem;
	background-color: #1ed760;
	border: none;
	color: #fff;
	border-radius: 5px;
}

.categories {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.category {
	height: 10rem;
	background-color: blue;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	padding: 1rem;
}

.category p {
	font-weight: bold;
	position: relative;
	z-index: 1;
}

.category img {
	position: absolute;
	width: 35%;
	right: -10px;
	bottom: 0;
	border-radius: 7px;
	transform: rotate(20deg);
}
