.slides h2 {
	margin-bottom: 1.5rem;
}

.slides .name {
	font-size: 4rem;
}

.slides {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.swiper {
	width: 100%;
	height: 100%;
}

.contain {
	background-color: aqua !important;
	padding: 2rem !important;
}

.slide {
	/* height: 40rem; */
	position: relative;
}

.name-attr {
	position: absolute;
	z-index: 5;
	top: -10px;
}

.swiper-slide {
	text-align: center;
	overflow-x: hidden;
	font-size: 18px;
	width: 20rem !important;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: flex-start;
	justify-content: flex-start;
}

.swiper-pagination {
	display: none;
}

.img {
	height: 20rem;
	width: 20rem;
	margin-bottom: 1rem;
	background-size: cover;
}

.album-name {
	text-align: left;
	font-size: 1.6rem;
}

@media screen and (min-width: 1000px) {
	.slides h2 {
		font-size: 2.5rem;
	}

	.album-name {
		font-size: 2rem;
	}
}
