.player-container {
	height: 5.5rem;
	width: 90%;
	margin: auto;
	border-radius: 4px;
	background-color: #1c1c1d;
	margin-bottom: 1rem;
	padding: 0.2rem 0.4rem;
	display: flex;
}

.playing-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.playing-helper {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.playing-cover {
	width: 4.5rem;
	height: 4.5rem;
	background-position: center;
	background-size: cover;
	border-radius: 5px;
}

.current-artist {
	color: #a5a4a4;
}

.buttons {
	position: relative;
	width: 3rem;
	height: 3rem;
}

.buttons button {
	background-color: transparent;
	border: none;
	position: absolute;
}

@media screen and (min-width: 1000px) {
	.player-container {
		position: absolute;
		bottom: 0;
		width: 100vw;
		height: 8rem;
		left: 0;
		margin-bottom: 0;
	}

	.details-helper {
		padding-left: 5rem;
		font-size: 1.8rem;
	}

	.playing-cover {
		width: 15vw;
		height: 30rem;
		background-position: bottom;
	}

	.current-song {
		margin-bottom: 1rem;
	}

	.buttons {
		margin-right: 5rem;
	}
}
