* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: sans-serif;
	background-color: #131216;
	color: #fff;
}

.app {
	position: relative;
	/* height: 100vh; */
	overflow: hidden;
}

button {
	font-size: 1.6rem;
}

img {
	width: 100%;
}

a {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style: none;
}

.small-details {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.5rem;
}

.bullet {
	width: 0.5rem;
}

.left-arrow {
	width: 3rem;
	position: absolute;
	left: 0;
}

.ellipsis {
	height: 2rem;
	width: 2rem;
}

.explicit {
	width: 1.5rem;
}

.copyright {
	list-style: none;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

.slide-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 3;
	right: -100vw;
	transition: all 0.5s ease-out;
	/* background-image: linear-gradient(
		to bottom,
		#1d0f42,
		#191137,
		#17122b,
		#15121f,
		#121212
	); */
	background-color: #131216;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 3rem 1rem 9rem;
	top: 0;
}

.app {
}

@media screen and (min-width: 1000px) {
	#root {
		position: relative;
		overflow: hidden;
	}

	.app {
		width: 85vw;
		position: static;
		margin-left: 15vw;
	}

	.slide-container {
		width: 85vw;
		transition: all 0s;
	}

	.left-arrow {
		left: 7rem;
	}

	::-webkit-scrollbar {
		width: 0px;
	}
}
