.category-playlists.show {
	right: 0;
	padding: 3rem 1rem 9rem;
}

.height {
	height: 0vh;
	overflow-y: hidden;
}

.category-playlists h1 {
	/* margin: 4rem 0 0; */
	font-size: 2.8rem !important;
}

.category-slides {
	margin-top: 2.5rem;
}

.category-slides h2 {
	font-size: 2rem !important;
}

.category-arrow {
	width: 3rem;
	position: absolute;
	left: 0;
	display: inline-block;
	margin-bottom: 3rem;
}

.margin-helper {
	margin-top: 4rem;
}
